.box {
    font-family: Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

.box1 {
    border-radius: 10px;
    height: 70%;
    width: 70%;
    background-color: #ffffFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.leftbox .image{
    
        background-image: url("assests/leftboxbck.png");
        height: 95%;
        /* width: 30%; */
        background-position: center;
        background-size: cover;
        position: relative;
        border-radius: 10px;
     
}


.image ul li a span{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 4px;
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    margin-right: 13px;
    
}



.leftbox {
    
    border-radius: 10px;
    /* padding: 20px; */
    height: 95%;
    position: absolute;
    width: 30%;
    margin: 12px;
    background-color: #483EFF;
}

.rightbox {
    border-radius: 10px;
    width: 65%;
    height: 95%;
    position: absolute;
    background-color: #ffffff;
    right: 0;
    margin: 12px;
}

.set{
  margin-top: 20px;
  
}

.main{
    color: white;
    font-size: 14px;
    margin-left: 15%;
}
.step {
    font-size: 10px;
    margin-left: 1%;
    color: gray;
    /* justify-content: space-between; */
    margin-top: 50%;
    
}

.rightbox h1,
label,
input {
    font-family: Helvetica, sans-serif;
    margin-left: 60px;
    color: #032859;
}



.rightbox h4{
    font-family: Helvetica, sans-serif;
    margin-left: 60px;
    color:  gray;
    font-size: 12px;
}

.nextstep{
    color: white;
}


.rightbox input {
    width: 70%;
    padding: 5px;
}

.rightbox h4 {
    margin-top: -15px;
    /* color: #032859; */
}

.rightbox button {
    /* margin-top: 40px; */
    padding: 7px;
    border-radius: 5px;
    right: 17%;
    bottom: 20px;
    position: absolute;
    background-color: #032859;
}

.rightbox input{
    border-radius: 10px;
    padding: 10px;
    border: 2px solid grey;
    margin-top: 1%;

}







.leftbox ul li a {
    text-decoration: none;

}

.leftbox ul {
    list-style: none;
}

/* h4{
    color: #032859;
    font-size: 15px;
} */

/* .rightbox h1{
    color: #032859;
    
}

label{
    color: #032859;
} */




 